.c-carrusel__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-carrusel__images-wrapper {
  width: 90%;
  height: 425px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  & div {
    width: 350px;
    height: 100%;
    & img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }
}
.c-carrusel__chevron {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
