.c-header {
  background-color: var(--dark-green);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 75px;
    height: auto;
  }
}

.c-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-header__name {
  font-size: 1.25rem;
  font-family: "Inria Serif", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-header__subname {
  font-style: italic;
  text-transform: initial;
}

.c-header__navbar {
  font-weight: 300;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  & > li {
    cursor: pointer;
    &:hover {
      color: var(--yellow);
    }
  }
}
